text {
  font-weight: 300;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}
.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}
.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
  cursor: pointer;
}
.node {
  cursor: pointer;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  width: 300px;
}

th{
  background: #FFA56E;
}

#Individual{
  position: fixed;
  top: 5%;
  left: 65%;
}

#svg-canvas{
  position: absolute;
  top: 50%;
  left: 10%;
}
